/* Typing Cursor */
.cursor {
    animation: blink 1s infinite;
    color: var(--primary-neon);
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}